{% extends 'base.html' %}


<head>
    {% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/calendar.css' %}">
        <title>Calendar</title>
    {% endblock %}
</head>
{% block header %}
  <h1 class="bg_MFSS_RGG_fire">Calendar</h1>
{% endblock %}


{% block content %}
    <div  id="cal_butt">
        <center>
            <a class="btn btn-dark left" href=" {% url 'calendar_ym' mf_ents_1st_yr mf_ents_1st_mon %}" align="left">Oldest</a>
            <a class="btn btn-dark left" href=" {% url 'calendar_ym' prev_yr prev_yr_mon %}" align="left">Previous Year</a>
            <a class="btn btn-dark left" href=" {% url 'calendar_ym' prev_month_year prev_month %}" align="left">Previous Month</a>
            <a class="btn btn-outline-dark disabled" role="button" aria-disabled="true" href=" {% url 'home_calendar' %}" align="center" >Current</a>
            <a class="btn btn-dark right" href=" {% url 'calendar_ym' next_month_year next_month %} " align="right">Next Month</a>
            <a class="btn btn-dark right" href=" {% url 'calendar_ym' next_yr next_yr_mon %} " align="right">Next Year</a>
            <a class="btn btn-dark right" href=" {% url 'calendar_ym' mf_ents_last_yr mf_ents_last_mon %} " align="right">Newest</a>
        </center>
    </div>
    <div class="calendar">
      <center>
        {{ calendar }}
      </center>
    </div>
    <div id="enq_butt">
        <center>
            <a class="btn btn-dark" role="button" href=" {% url 'enquiries' %}" align="center" >Enquiries</a>
        </center>
    </div>


{% endblock %}
