{% extends 'base.html' %}


<head>
    {% block head %}
        {% load static %}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@{{5.0.3}}/dist/amplitude.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="keywords" content="more, fire, outernational, soundsystem, productions, More, Fire, Outernational, Soundsystem, Productions,More Fire, Dub Dave, more fire, morefire, morefireouternational, morefire outernational, more fire outernational, morefire soundsystem, morefire sound, morefire productions, sound, sound system, soundsystem, dub, jungle, dub dave, bristol, tracks, mix, mixes, events, records, dj, mc">
        <meta name="description" content="More Fire Outernational! Founded by Dub Dave More Fire Soundsystem and More Productions (record label).Bassed in Bristol (UK). Soundsystem, Events, private hire, Original Tracks and mixes.">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>More Fire Outernational Home</title>
    {% endblock %}
</head>
{% block header %}
  <h1 class="bg_MFSS_RGG_fire" title="more fire outernational">More Fire Outernational</h1>
  
{% endblock %}


{% block content %}
    <div >
        <section  >
          <center>
            {% if fav_photos.photo %}
              {% if fav_photos.portrait %}
                <img class="home_photo_img_p" src="{{ fav_photos.photo.url }}" alt="More Fire Sound"></img>
              {% else %}
                <img class="home_photo_img" src="{{ fav_photos.photo.url }}" alt="More Fire Sound"></img>
              {% endif %}
            {% endif %}
          </center>
        </section>
        <section class="hm_info_top">
            {% if info_hm_top %}
                <article>
                    {% if info_hm_top.headline %}
                        <h2 title="welcome info">{{ info_hm_top.headline }}</h2>
                    {% endif %}
                    <p>
                        {{ info_hm_top.info }}
                    </p>
                </article>
            {% endif %}
             <div>
                <center>
                    {% if links_mf %}
                        <h3>More Fire Links</h3>
                        <a>Follow More Fire at:</a>
                            {% for l in links_mf %}
                                <li>
                                    <a href="{{ l.link_url }}" title="more fire links" target="_blank">
                                        {{ l.name }}
                                    </a>
                                </li>
                            {% endfor %}
                            {% for l in links_mf_stream %}
                                <li>
                                    <a href="{{ l.link_url }}" title="more fire links" target="_blank">
                                        {{ l.name }}
                                    </a>
                                </li>
                            {% endfor %}
                    {% endif %}
                </center>
               </div>
            <div id="enq_butt_hm">
                <center>
                    <a class="btn btn-dark" role="button" href=" {% url 'enquiries' %}" title="enquiries" align="center" >Enquiries</a>
                </center>
            </div>

        </section>



        <section class="hm_info">
            <ul class="no-bullets">
                {% if info_hm_xtop %}
                    {% for post in info_hm_xtop %}
                        <li>
                            <article>
                                {% if post.headline %}
                                    <h3>{{ post.headline }}</h3>
                                {% endif %}
                                <center>
                                        <a>Created: {{ post.created_dt }}</a>
                                    {% if post.created_dt != post.edited_dt %}
                                        <a>&emsp13;Edited: {{ post.edited_dt }}</a>
                                    {% endif %}
                                        <br>

                                </center>
                                <p>
                                    {{ post.info }}
                                </p>
                                 <div id="enq_butt_hm">
                                    <center>
                                       {% if post.mix %}

                                            <a class="btn btn-dark" role="button" href="{% url 'mix-profile' post.mix.id %}" title="mix" align="center">
                                                Go to Mix
                                            </a>

                                        {% endif %}
                                    {% if post.track %}


                                            <a class="btn btn-dark" role="button" href="{% url 'track_profile' post.track.id %}" title="track" align="center">
                                                Go To Track
                                            </a>

                                    {% endif %}
                                    {% if post.event %}
                                        <a class="btn btn-dark" role="button" href="{% url 'event-profile' post.event.id %}" title="event" align="center">
                                            Go To Event
                                        </a>

                                    {% endif %}

                                    </center>
                                </div>
                            </article>
                        </li>
                        <hr>

                    {% endfor %}
                {% endif %}
            </ul>
        </section>

    </div>
{% endblock %}
