{% extends 'base.html' %}


<head>
    {% block head %}
        <title>More Fire Search</title>
    {% endblock %}
</head>
{% block header %}
  <h1 class="bg_MFSS_RGG_fire">Search Results</h1>
{% endblock %}

{% block content %}
<div class="links">

    {% if searched %}
        <div>
            <p>Search Term "<b>{{ searched }}</b>" found <b>{{ total_srch_counts }}</b> results.</p>
            <ul>
                {% if listings_srch %}
                    <div>
                        <h3>Listings Found: {{ listing_srch_count }}</h3>
                        {% for event in listings_srch %}
                            <li>
                                {{ event.start_dt }} -
                                <a href="{% url 'event-profile' event.id %}">{{ event }} </a>
                            </li>
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}

                {% if past_events_srch %}
                    <div>
                        <h3>Past Events Found: {{ past_events_srch_count }}</h3>
                        {% for event in past_events_srch %}
                            <li>
                                {{ event.start_dt.date }} -
                                <a href="{% url 'event-profile' event.id %}">{{ event }} </a>
                            </li>
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}

                {% if mix_srch %}
                    <div>
                        <h3>Mixes Found: {{ mix_srch_count }}</h3>
                        {% for mix in mix_srch %}
                            <li>
                                {{ mix.release_date }} -
                                <a href="{% url 'mix-profile' mix.id %}">{{ mix }} </a>
                            </li>
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}

                {% if track_srch %}
                    <div>
                        <h3>Tracks Found: {{ track_srch_count }}</h3>
                        {% for track in track_srch %}
                            <li>
                                {{ track.release_date }} -
                                <a href="{% url 'track_profile' track.id %}">{{ track }} </a>
                            </li>
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}

                {% if galleries_srch %}
                    <div>
                        <h3>Photo Galleries Found: {{ galleries_srch_count }}</h3>
                        {% for gallery in galleries_srch %}
                            <li>
                                {{ gallery.created_dt }} -
                                <a href="{% url 'gallery' gallery.id %}" >{{ gallery}}</a>
                            </li>
                        {% endfor %}
                    </div>
                    <hr>
                {% endif %}

                {% if photo_srch %}
                    <div>
                        <h3>Photos Found: {{ photo_srch_count }}</h3>
                        {% for photo in photo_srch %}
                            <li>
                                {{ photo.created_dt }} -
                                <a href="{% url 'photo' photo.gallery.id photo.id %}">{{ photo }}</a>
                            </li>
                        {% endfor %}
                    </div>
                {% endif %}

           </ul>

        {% endif %}
        {% if total_srch_counts == 0 %}
            <p>Please try another search term.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
